/**
 * @file Screen readers
 * @author Reuben L. Lillie <rlillie@loopnaz.org>
 * @since 2.0.0
 * @see Ferdinandi, Chris. 2016. “{@link https://gomakethings.com/a11y-and-text-just-for-screen-readers/ A11y and Text Just for Screen Readers}.” _Go Make Things._ December 13, 2016
 */

/**
 * Visually hide an element, but leave it available for screen readers
 */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Extends the .screen-reader class to make elements focusable with keyboard navigation
 */
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
