<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=2.0.0">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=2.0.0">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=2.0.0">
<link rel="manifest" href="/favicons/site.webmanifest?v=2.0.0">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=2.0.0" color="#c72d27">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=2.0.0">
<meta name="apple-mobile-web-app-title" content="LoopNaz">
<meta name="application-name" content="LoopNaz">
<meta name="msapplication-TileColor" content="#c72d27">
<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=2.0.0">
<meta name="theme-color" content="#ffffff">