# Configure Decap CMS for editing site content in the browser instead of Git

# Test Decap CMS locally without making commits to a published Git repo
# @see https://decapcms.org/docs/working-with-a-local-git-repository/#docs-nav-content
#
local_backend: true

# Allow Decap CMS to communicate with Git
# @see https://decapcms.org/docs/backends-overview/#backend-configuration
backend:
  # Use Netlify to add editors without needing Git access
  # @see https://decapcms.org/docs/git-gateway-backend/
  name: git-gateway
  # Git branch where published content is stored
  branch: main
  commit_messages:
    create: Create {{collection}} “{{slug}}”
    update: Update {{collection}} “{{slug}}”
    delete: Delete {{collection}} “{{slug}}”
    uploadMedia: Upload “{{path}}”
    deleteMedia: Delete “{{path}}”
    openAuthoring: '{{message}}'
  squash_merges: true

# Review and approve drafts before publishing them
# this line should *not* be indented
# @see https://decapcms.org/docs/configuration-options/#publish-mode
publish_mode: editorial_workflow

# Change the logo displayed on the Decap CMS login page
# @see https://decapcms.org/docs/configuration-options/#custom-logo
logo:
  src: https://loopnaz.netlify.app/img/en/logo.svg
  show_in_header: true

# The CMS locale
# @see https://decapcms.org/docs/configuration-options/#locale
locale: 'en'

# Use the Cloudinary to upload images and videos
# @see https://decapcms.org/docs/cloudinary/#connecting-cloudinary-to-decap-cms
media_library:
  name: cloudinary
  config:
    cloud_name: loopnaz
    api_key: 649533274288737

# Internationalization - support for multiple languages
# @see https://decapcms.org/docs/i18n/
i18n:
  # Required - persists files in `<folder>/<locale>/<slug>.<extension>`
  structure: multiple_folders
  # Required - a list of locale tags to show in the CMS editor
  locales: [en, es]
  # Optional - locale used for fields validation and entry
  default_locale: en

# Organize collections by directory
# @see https://decapcms.org/docs/collection-folder/
collections:
  # Pages - content that doesn’t change a lot
  - label: Pages
    label_singular: Page
    name: pages
    folder: content/pages/
    create: true
    i18n: true
    identifier_field: slug
    fields:
      # - { label: 'Draft', name: 'draft', widget: 'boolean', default: true }
      - { label: 'Title', name: 'title', widget: 'string', i18n: true }
      - label: Slug
        name: slug
        widget: 'string'
        required: true
        i18n: true
        hint: Unique end of the URL, all lowercase and separated by hyphens
        pattern: ['^[a-z0-9\s-]*$', 'lowercase-words-separated-by-hyphens']
      - label: Date
        name: date
        widget: datetime
        required: true
        i18n: duplicate
        default: '{{now}}'
        date_format: 'YYYY-MM-DD'
        picker_utc: true
      - label: Description
        name: description
        widget: text
        required: true
        i18n: true
        hint: '60–160 characters for SEO'
        pattern: ['.{60,160}', "Must have between 60 and 160 characters"]
      - label: Layout
        name: layout
        widget: string
        required: true
        i18n: duplicate
        default: page
        hint: 'Override default layout (page) with another one in _layouts/'
      - label: Layout position
        name: layoutChainOrder
        widget: select
        required: false
        i18n: duplicate
        hint: Where should the custom layout content appear?
        options:
          - { label: 'Before page body', value: 'before' }
          - { label: 'After page body', value: 'after' }
      - label: Body
        name: body
        widget: markdown
        required: false
        i18n: true
      - label: Navigation
        name: nav
        widget: object
        summary: '{{fields.menu}}, {{fields.order}}'
        i18n: true
        hint: Toggle open to assign one or more menu locations
        collapsed: true
        fields:
          - label: Menu title
            name: navTitle
            widget: string
            required: false
            i18n: true
            hint: Set link text for navigation menus
          - label: Menu location
            name: menu
            widget: select
            required: false
            multiple: true
            i18n: duplicate
            hint: Assign to one or more navigation locations
            options:
              - { label: 'Main', value: 'main' }
              - { label: 'Join Us', value: 'join_us' }
              - { label: 'Discover', value: 'discover' }
              - { label: 'Get Involved', value: 'get_involved' }
              - { label: 'Learn More', value: 'learn_more' }
              - { label: 'Legal', value: 'legal' }
          - label: Menu order
            name: weight
            widget: number
            required: false
            i18n: duplicate
            hint: For sorting menu items
            value_type: float
            min: -10000
            max: 10000
        # Internationalized using _data/tags.js
      - label: Tags
        label_singular: Tag
        name: tags
        widget: select
        multiple: true
        required: false
        i18n: duplicate
        hint: Add this page to one or more content collections
        options: ['policies', 'discipleship', 'missions', 'youth', 'adults', 'children', 'local', 'district', 'global']
      - label: 'Cover photo'
        name: image
        widget: object
        required: false
        i18n: true
        hint: The main image for the page
        fields:
          - label: 'Alt text'
            name: alt
            widget: string
            required: false
            default: ''
            i18n: true
            hint: Always include a brief description to help make images accessible
          - label: Image
            name: src
            widget: image
            required: false
            choose_url: true
            i18n: duplicate
            hint: Select an image from our Cloudinary media library or from a URL
  # Posts - content that can change or be added to over time
  - label: Posts
    label_singular: Post
    name: posts
    folder: content/posts/
    create: true
    i18n: true
    fields:
      # - { label: 'Draft', name: 'draft', widget: 'boolean', default: true }
      - { label: 'Title', name: 'title', widget: 'string', i18n: true }
      - label: Slug
        name: slug
        widget: 'string'
        required: true
        i18n: true
        hint: Unique end of the URL, all lowercase and separated by hyphens
        pattern: ['^[a-z0-9\s-]*$', 'lowercase-words-separated-by-hyphens']
      - label: Author(s)
        name: author
        widget: relation
        i18n: duplicate
        hint: One or more authors
        collection: people
        value_field: '{{slug}}'
        search_fields: ['name.first', 'name.last', 'role', 'slug']
        multiple: true
        display_fields: ['{{name.first}} {{name.last}}, {{role}}']
      - label: Date
        name: date
        widget: datetime
        required: true
        i18n: duplicate
        default: '{{now}}'
        date_format: 'YYYY-MM-DD'
        picker_utc: true
      - label: Description
        name: description
        widget: text
        required: false
        i18n: true
        hint: '60–160 characters for SEO'
        pattern: ['.{60,160}', "Must have between 60 and 160 characters"]
      - label: Body
        name: body
        widget: markdown
        required: false
        i18n: true
        # Internationalized using _data/tags.js
      - label: Tags
        label_singular: Tag
        name: tags
        widget: select
        required: false
        i18n: duplicate
        hint: Add this post to one or more content collections
        multiple: true
        options: ['discipleship', 'missions', 'youth', 'adults', 'children', 'local', 'district', 'global']
      - label: 'Cover photo'
        name: image
        widget: object
        required: false
        i18n: true
        fields:
          - label: 'Alt text'
            name: alt
            widget: string
            default: ''
            i18n: true
            hint: Always include a brief description to help make images accessible
          - label: Image
            name: src
            widget: image
            choose_url: true
            hint: Select an image from our Cloudinary media library or from a URL
  # People - profile info for staff, board members, and other people
  - label: People
    label_singular: Person
    name: people
    folder: content/people/
    create: true
    i18n: true
    identifier_field: name.display
    fields:
      # - { label: 'Draft', name: 'draft', widget: 'boolean', default: true }
      - label: Name
        name: name
        widget: object
        summary: '{{fields.name.first}} {{fields.name.last}}'
        i18n: true
        fields:
          - label: First name
            name: first
            widget: string
            required: true
            i18n: duplicate
            pattern: ['^[a-zA-Z0-9\s.,’-]*$', 'First name']
          - label: Last name
            name: last
            widget: string
            required: true
            i18n: duplicate
            pattern: ['^[a-zA-Z0-9\s.,’-]*$', 'Last name']
          - label: Display name
            name: display
            widget: string
            required: true
            i18n: duplicate
            pattern: ['^[a-zA-Z0-9\s.,’-]*$', 'First and last name']
      - label: Slug
        name: slug
        widget: 'string'
        required: true
        i18n: duplicate
        hint: firstname-lastname (all lowercase and separated by hyphens)Vy
      - label: Role
        name: role
        widget: string
        required: false
        i18n: true
        pattern: ['^[a-zA-Z0-9\s.,’-&]*$', 'Office title or position']
      - label: Email
        name: email
        widget: string
        required: true
        i18n: duplicate
        pattern: ['^[\w\-\.]+@([\w-]+\.)+[\w-]{2,}$', 'you@example.com']
        hint: 'you@example.com'
      - label: Description
        name: description
        widget: text
        required: false
        i18n: true
        hint: '70–160 characters'
        pattern: ['.{50,160}', "Must have between 50 and 106 characters"]
      - label: Bio
        name: bio
        widget: markdown
        required: false
        i18n: true
        hint: '50–150 words'
        pattern: ['^(?:\W*\w+\b){50,150}$', "Must have between 50 and 150 words"]
        # Internationalized using _data/tags.js
      - label: Tags
        label_singular: Tag
        name: tags
        widget: select
        multiple: true
        i18n: duplicate
        hint: Add this author to one or more lists
        options: ['staff', 'pastor', 'board', 'volunteer']
      - label: Headshot
        name: image
        widget: object
        required: false
        i18n: true
        hint: A photograph of the author’s face
        fields:
          - label: 'Alt text'
            name: alt
            widget: string
            default: ''
            i18n: true
            hint: Always include a brief description to help make images accessible
          - label: Image
            name: src
            widget: image
            choose_url: true
            hint: Select an image from our Cloudinary media library or from a URL
  # Links - URL for embedding link text (used in footer menu)
  - label: Links
    label_singular: Link
    name: links
    folder: links/
    create: true
    identifier_field: customFileSlug
    fields:
      # - { label: 'Draft', name: 'draft', widget: 'boolean', default: true }
      - label: Text
        name: linkText
        widget: object
        fields:
          - label: English
            name: en
            widget: string
            hint: Text displayed in English
          - label: Español
            name: es
            widget: string
            hint: Texto mostrado en espańol
      - label: Link
        name: url
        widget: string
        hint: URL
        ## Source - https://stackoverflow.com/a/17773849
        ## Posted by foufos, modified by community. See post 'Timeline' for change history
        ## Retrieved 2026-02-11, License - CC BY-SA 4.0
        pattern: ['(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})', 'https://example.com/']
      - label: permalink
        name: permalink
        widget: hidden
        default: false
      #   # Ignore the output directory
      #   # https://www.11ty.dev/docs/permalinks/#ignore-the-output-directory
      # - label: urlOverride
      #   name: urlOverride
      #   widget: hidden
      #   default: '{{permalink | escape}}'
      #   # Ignore the output directory
      #   # https://www.11ty.dev/docs/permalinks/#ignore-the-output-directory
      - label: File slug
        name: customFileSlug
        widget: 'string'
        i18n: duplicate
        hint: Used to save this link, all lowercase and separated by hyphens
        pattern: ['^[a-z0-9\s-]*$', 'lowercase-words-separated-by-hyphens']
      - label: Navigation
        name: nav
        widget: object
        summary: '{{fields.menu}}, {{fields.order}}'
        hint: Toggle open to assign one or more menu locations
        collapsed: true
        fields:
          - label: Menu location
            name: menu
            widget: select
            required: false
            multiple: true
            i18n: duplicate
            hint: Assign to one or more navigation locations
            options:
              - { label: 'Main', value: 'main' }
              - { label: 'Join Us', value: 'join_us' }
              - { label: 'Discover', value: 'discover' }
              - { label: 'Get Involved', value: 'get_involved' }
              - { label: 'Learn More', value: 'learn_more' }
              - { label: 'Legal', value: 'legal' }
          - label: Menu order
            name: weight
            widget: number
            required: false
            i18n: duplicate
            hint: For sorting menu items
            value_type: float
            min: -10000
            max: 10000
